
*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Tahoma, sans-serif;
}
.over-lay{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color:#0096888f ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.over-lay .newgame{
    padding: 15px 20px;
    background-color:#009688 ;
    border: 2px solid #eee;
    outline: 2px solid #009688;
    color: #eee;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.container{
    width: 1000px;
    margin: 20px auto;
}
.row{
    display: flex;
}
hr{
    border: 1px solid #eee;
}
.game-info{
    display: flex;
}
.game-info .game-name{
    flex: 1;
}
.game-info .category{
    flex: 1;
    text-align: right;
}
.game-info .category span{
    text-transform: capitalize;
    color: #e91e63;
    font-weight: bold;
}
.hangman-draw{
    flex: 1;
    background-color: #f8f8f8;
    padding: 20px;
    height: 324px;
}
.hangman-draw .the-draw{
    width: 60px;
    height: 280px;
    border-bottom: 4px solid #222;
    position: relative;
    margin: auto;
    left: -60px;
    display: none;
}
.hangman-draw .the-stand::before{
    content: "";
    position: absolute;
    width: 4px;
    background-color: #222;
    height: 100%;
    left: 50%;
    margin-left: -2px;
    display: none;
}
.hangman-draw .the-hang{
    display: none;
}
.hangman-draw .the-hang::before{
    content: "";
    position: absolute;
    height: 4px;
    background-color: #222;
    width: 100px;
    left: 30px;
    top: 15px;
}
.hangman-draw .the-hang::after{
    content: "";
    position: absolute;
    width: 4px;
    height: 30px;
    background-color: #222;
    left: 130px;
    top: 15px;
}
.hangman-draw .the-rope{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    top: 45px;
    border: 3px dashed #222 ;
    position: absolute;
    left: 97px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: none;
}
.hangman-draw .the-man .head{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #222;
    position: absolute;
    left: 107px;
    top: 55px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: none;
}
.hangman-draw .the-man .body{
    position: absolute;
    background-color: #222;
    width: 4px;
    height: 110px;
    top: 103px;
    left: 130px;
    display: none;
}
.hangman-draw .the-man .hands{
    display: none;
}
.hangman-draw .the-man .hands::before{
    content: "";
    width: 50px;
    position: absolute;
    height: 4px;
    background-color: #222;
    left: 85px;
    top: 130px;
    transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
}
.hangman-draw .the-man .hands::after{
    content: "";
    width: 50px;
    position: absolute;
    height: 4px;
    background-color: #222;
    left: 130px;
    top: 130px;
    transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
}
.hangman-draw .the-man .leges{
    display: none;
}
.hangman-draw .the-man .leges::before{
    content: "";
    width: 50px;
    position: absolute;
    height: 4px;
    background-color: #222;
    left: 85px;
    top: 220px;
    transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
}
.hangman-draw .the-man .leges::after{
    content: "";
    width: 50px;
    position: absolute;
    height: 4px;
    background-color: #222;
    left: 130px;
    top: 220px;
    transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
}
.hangman-draw.wrong-1 .the-draw{
    display: block;
}
.hangman-draw.wrong-2 .the-stand::before{
    display: block;
}
.hangman-draw.wrong-3 .the-hang{
    display: block;
}
.hangman-draw.wrong-4 .the-rope{
    display: block;
}
.hangman-draw.wrong-5 .head{
    display: block;
}
.hangman-draw.wrong-6 .body{
    display: block;
}
.hangman-draw.wrong-7 .hands{
    display: block;
}
.hangman-draw.wrong-8 .leges{
    display: block;
}

.letters{
    flex: 1;
    padding: 20px;
    text-align: center;
}
.letters.finish{
    pointer-events: none;
}
.letters .letter-box{
    width: 55px;
    height: 55px;
    display: inline-block;
    background-color: #009688;
    color: #fff;
    font-size: 24px;
    margin-right: 10px;
    line-height: 55px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid #eee;
    margin-top: 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.letters .letter-box.click{
    background-color: #e91e63;
    opacity: 0.2;
    pointer-events: none;
}
.letters-guess{
    margin: 10px auto;
    background-color: #f8f8f8;
    padding: 20px;
    display: flex;
    justify-content: center;
    min-height: 104px;

}
.letters-guess span{
    width: 60px;
    height: 60px;
    font-size: 24px;
    margin-right: 10px;
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #fdfdfd;
    border-bottom: 3px solid #e91e63;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.letters-guess span.space{
    background: none;
    border-bottom: none;
    position: relative;
}
.letters-guess span.space::before{
    content: "";
    width: 20px;
    height: 4px;
    background-color: #009688;
    position: absolute;
    left:50% ;
    top: 50%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
}
.again{
    display: none;
    padding: 10px 20px;
    background-color: #009688;
    color: #eee;
    border: 2px solid #eee;
    outline: 2px solid #009688;
    margin: auto;
    cursor: pointer;
}